*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5; 
}

header {
    background-color: yellow;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a:hover {
    text-decoration: none;
    color: blue;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

article {
  flex: 3;
  background-color: #ffd77a;
  padding: 20px;
  margin-right: 10px;
  border-radius: 10px;
}

aside {
  flex: 1;
  background-color: #5edfff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

aside img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

footer {
  background-color: #ffe45e;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
