*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 500px;
}

.row{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.img1{
    width: 33%;
    height: 100%;
    gap: 10px;
    border: 5px solid;
    border-radius: 20px;
    object-fit: cover;
    background-color: black;
}

.img2{
    width: 20%;
    height: 100%;
    gap: 10px;  
    border: 5px solid;
    border-radius: 20px;
}