body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

nav{
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

iframe {
    width: 80%;
    height: 200px;
    border: 2px solid #aaa;
    border-radius: 10px;
    margin-top: 20px;
}

section.deskripsi {
    max-width: 80%;
    text-align: justify;
}